<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Capelao BET</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>

    <h1 id="titulo">Capelao.BET 🐒</h1>
    <div id="conteiner">

        <h2>Adicionar usuário</h2>
        <form method="post" action="/add_usuario">
            <label >Nome de usuario: </label>
            <input type="text" name="nome" placeholder="Digite o nome" required autocomplete="off">
            <br>

            <label >Email: </label>
            <input type="text" name="email" placeholder="Digite o email" required autocomplete="off">
            <br>

            <label >Senha: </label>
            <input type="password" name="senha" placeholder="Digite a senha" required autocomplete="off">
            <br>
            
            <button class="salvar" type="submit" method="post">Salvar</button>
        </form>

        <div>
            <p>
                Ja tem conta? <a href="/login">clique aqui</a>
            </p>
        </div>
    </div>
</body>
</html>