@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor1: #E4E4E6;
    --cor2: #BEBEBE;
    --cor3: #949494;
    --cor4: #7A7A7A;
    --cor5: #545454;
    --cor6: #3C3C3C;

}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    background-color: #426b1e;
    font-family: sans-serif;
    background-image: url(img/monkey.gif);
    background-size: cover;
    /* font-size: 22pt; */
}

h1 {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    font-size: 5lvh;
}

h2 {
    font-size: 30pt;
}

#titulo {
    color: var(--cor1);
    font-size: 10lvh;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.248);
    margin: 20px;
}

#conteiner {
    max-width: 300px;
    background-color: var(--cor1);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 5px 6px 1px rgba(0, 0, 0, 0.093);
    max-width: 90%;
    margin: 10px;
}

#caixa {
    display: flex;
}

label {
    display: block;
    margin: 10px 10px 10px 0;
    
}

input {
    padding: 10px;
    border-radius: 10px;
    width: 375px;
    background-color: var(--cor4);
    color: white;
}
::placeholder {
    color: white;
}

.salvar {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    font-size: 11pt;
    transition: all linear 100ms;
    background-color: var(--cor2);
}

.salvar:hover {
    background-color: var(--cor6);
    color: var(--cor1);
    cursor: pointer;
    transition: all linear 100ms;
    font-weight: 800;
}

.entrar {
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 80px;
    font-size: 11pt;
    transition: all linear 100ms;
    background-color: var(--cor2);
}

.entrar:hover {
    background-color: var(--cor6);
    color: var(--cor1);
    cursor: pointer;
    transition: all linear 100ms;
    font-weight: 800;
}

a {
    font-size: 12pt;
}