<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Jogo do Bixo</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <h1>Numbro do bixo</h1>
    <img class="botas" src="img/botas.png" alt="">
    <p>Tente adivinhar um número entre 1 e 10</p>
    <input type="number" id="guessInput" placeholder="Digite seu palpite" />
    <button onclick="verificarPalpite()">Enviar</button>
    <p id="mensagem"></p>
    <p>Tentativas: <span id="tentativas">0</span></p>
  </div>

  <img class="arvore1" src="img/arvore.png" alt="">
  <img class="arvore2" src="img/arvore.png" alt="">
  <!-- <img class="arvore3" src="img/arvore.png" alt=""> -->

  <img class="grama1" src="img/grama.png" alt="">
  <img class="grama2" src="img/grama.png" alt="">
  <img class="grama3" src="img/grama.png" alt="">
  <img class="grama4" src="img/grama.png" alt="">

  <script src="script.js"></script>
</body>
</html>